
HELLO
<form action="/users" method="post" accept_charset='UTF-8'>
  <%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>"> %>
  <div>
  <label for="email">email</label>
  <input type="text" id="email" name="user[email]">
  </div>
  <div>
  <label for="password">password</label>
  <input type="text" name="user[password]" id="password">
  </div>
  <div><input type="submit" value="Submit">Sub</div>
</form>
